body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #e0e0e0;
}

.container {
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    color: #ffffff;
}

.form-group {
    margin-bottom: 15px;
}

.amount {
    color: #b0b0b0;
}

input[type="number"], input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    margin-top: 5px;
    background-color: #262626;
    color: #e0e0e0;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #014ea1;
    transform: scale(1.05);
}

button:focus {
    outline: 2px solid #ffffff;
    outline-offset: 2px;
}

#balance, #confirmation h1, #confirmation p, #confirmation ul, #confirmation label {
    font-size: 20px;
    margin-top: 20px;
    color: #e0e0e0;
}

.mtn, .orange {
    display: flex;
    align-items: center;
    padding:5px;
}

.code-box {
    background-color: #333;
    border: 1px solid #444;
    padding: 10px;
    margin:0px 15px 0px ;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    color: #e0e0e0;
    flex-grow: 1;
    text-align: center;
}

.code-box:hover {
    background-color: #444;
    transform: scale(1);
}

.code-box:focus {
    outline: 2px solid #6a11cb;
    outline-offset: 2px;
}

/* Media Queries */

@media (max-width: 768px) {
    .container {
        padding: 20px;
        max-width: 350px;
    }

    button {
        padding: 10px 15px;
        font-size: 14px;
    }

    input[type="number"], input[type="file"] {
        padding: 8px;
    }

    #balance, #confirmation h1, #confirmation p, #confirmation ul, #confirmation label {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 15px;
        max-width: 300px;
    }

    button {
        padding: 8px 10px;
        font-size: 12px;
    }

    input[type="number"], input[type="file"] {
        padding: 6px;
    }

    #balance, #confirmation h1, #confirmation p, #confirmation ul, #confirmation label {
        font-size: 16px;
    }
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1f1f1f;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer ul li a i {
    font-size: 2em; /* Taille des icônes */
    margin-bottom: 5px; /* Espace entre l'icône et le texte */
}

/* Responsive adjustments */
@media (max-width: 600px) {
    footer ul {
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    footer ul li {
        margin: 0 10px;
    }
}
